<div class="dc_info">
	<div class="content">
		<i class="fa fa-cloud"></i> {{dc.[0]}}
		<br>
		<i class="fa fa-square-o"></i> {{ports.length}} ports
		<br>
		<i class="fa fa-square"></i> {{connected ports}} links
	</div>
	<div class="add_button">Add a port</div>
</div>
