<div class="dc_select">
	<select name="dc_select" data-size="15">
		<option value="-1" selected>Select a Data Centre</option>
		{{#each dc}}
		<option value="{{this.[3]}}">{{this.[0]}}</option>
		{{/each}}
	</select>
</div>
